body {
    background-color: rgb(41, 216, 216);
}

.group-dot {
    display: flex;
    margin: 200px auto;
    justify-content: center;
    align-items: center;   
}

.group-dot__column {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 25px;
}



.group-stick {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto; 

}

.group-stick__column {
    background-color: white;
    width: 10px;
    height: 40px;
    margin-right: 5px;
}