.screen-header__box {
    display: flex;
}

.screen-header__box-yellow {
    position: relative;
    width: 133px;
    height: 133px;
    background-color: #ffbd11;
    border-radius: 15px;
    border: 3px solid black;
}

.screen-header__box i {
    position: absolute;
    font-size: 50px;
    margin: 45px;
    color: white;
}

.screen-header {
    display: flex;
}

.screen-header__title {
    font-weight: 600;
    margin-left: 30px;
    font-size: 35px;
}

.screen-header__singer {
    margin-left: 30px;
    margin-top: 10px;
}